
*.cs
Buffs/BrainMinion.cs
obj/Debug/*.cache
.vs/Fargowiltas/v15/Server/sqlite3/db.lock
.vs/Fargowiltas/v15/Server/sqlite3/storage.ide
.vs/Fargowiltas/v15/Server/sqlite3/storage.ide-shm
.vs/Fargowiltas/v15/Server/sqlite3/storage.ide-wal
obj/Debug/Fargowiltas.csproj.CoreCompileInputs.cache
Fargowiltas.csproj
Fargowiltas.csproj
/.vs
/Builds/Server/Intermediates
/Builds/Client/Intermediates/Fargowiltas.csprojAssemblyReference.cache
/obj/Debug/net45
/obj/x86/Client/net45
/obj
/Properties
